{% extends 'twitter/layout.html' %}

{% block content %}

<body class="login-page">
    <div class="twitter-login-box">
        <header>
            <img src="https://i.ibb.co/TkVbVCj/wolf.png" alt="twitter logo">
            <h1>Inicia Sesión</h1>
        </header>

        <form method="post">
            {% csrf_token %}
            <div class="input-wrapper">
                <label for="user-name-id">Usuario</label>
                {{ form.username }}
            </div>

            <div class="input-wrapper">
                <label for="password-id">Contraseña</label>
                {{ form.password }}
            </div>
            {% if form.errors %}
            <center>Usuario o contraseña incorrecta</center>
            {% endif %}

            <button class="twitter-btn">Iniciar sesion</button>
        </form>

        <div class="footer">
     
            <a href="https://twiiter-ds-3a064455314c.herokuapp.com/register/">Registrate en Wolfer</a>
            <div class="container">
                <p>&copy; 2023 UTSJR-JALPAN. Diseñado por PABLO JASSO Y FELIPE MAYORGA<p>
                </div>
        </div>

    </div>
    {% endblock content %}