{% extends 'twitter/layout.html' %}

{% block content %}
<body class="login-page">
    <div class="twitter-login-box">
        <header>
            <img src="https://static01.nyt.com/images/2014/08/10/magazine/10wmt/10wmt-jumbo-v4.jpg?quality=90&auto=webp" alt="twitter logo">
            <h1>Registrate en Twitter</h1>
        </header>

        <form method="post">
            {% csrf_token %}
            <div class="input-wrapper">
                <label for="user-name-id">First Name</label>
                {{ form.first_name }}
            </div>
            <div class="input-wrapper">
                <label for="user-name-id">Username</label>
                {{ form.username }}
            </div>
            <div class="input-wrapper">
                <label for="user-name-id">Email</label>
                {{ form.email }}
            </div>

            <div class="input-wrapper">
                <label for="password-id">Password</label>
                {{ form.password1 }}
            </div>
            <div class="input-wrapper">
                <label for="password-id">Confirm Password</label>
                {{ form.password2 }}
            </div>
            <button class="twitter-btn" type="submit" id="registrarte-btn" value="Registrarte" onclick="mostrarAviso(event)">Registrarse</button>
        </form>
        <script>
            let primerClic = true;
    
            function mostrarAviso(event) {
                event.preventDefault(); // Evitamos que el formulario se envíe
    
                if (primerClic) {
                    alert("¡Estás a punto de registrarte!\n\nQueremos asegurarte que los datos proporcionados serán utilizados únicamente con fines prácticos y didácticos. No se utilizarán de manera malintencionada ni se compartirán con terceros.\n\nSi estás de acuerdo, por favor revisa los datos antes de continuar con el registro, saludos de los alumnos de la UTSJR-JALPAN");
                    primerClic = false;
                } else {
                    // Si es el segundo clic, podemos enviar el formulario
                    document.getElementById("registro-form").submit();
                }
            }
        </script>

        <div class="footer">
            <a href="#">¿Ya tienes una cuenta? Login</a>
        </div>

    </div>

{% endblock content %}